.envrc
opsman.pem
opsman.pub

terraform.state
.terraform/
plan
terraform.tfstate
terraform.tfstate.backup
generated-certs/

credhub-secrets.yml
pipeline-secrets.yml
control/vars/
control/control-plane/
nonprod/vars/
